<style type='text/css'>
    .gitlab-tracking-row {padding: 5px; margin-top:10px; width: 600px; background-color:#fff; border: solid 1px #d5d5d5;}
    .gitlab-tracking-commit img {
        vertical-align: middle;
        width: 20px;
        height: 20px;
    }
    .gitlab-tracking-title {
        margin-bottom: 5px;
    }
    .gitlab-tracking-commit {
        color: #999;
    }
    .gitlab-tracking-row p {
        margin: 0;
    }
    .gitlab-tracking-row code {
        display: inline-block;
        padding: 2px 4px;
        color: #c0341d;
        background-color: #fbe5e1;
        border-radius: 3px;
    }
    .gitlab-tracking-state {
        float: right;
        padding: 3px;
        border-radius: 3px;
        background: #eee;
        color: #333;
    }
</style>

<hr>
<div id="gitlab_tracking">
    <p>
        <strong>
            GitLab Merge Requests
        </strong>
    </p>

    <% gtc_commit_list.each do |commit| %>
        <div class="gitlab-tracking-row">
            <div class="gitlab-tracking-content">
                <div class="gitlab-tracking-state gitlab-tracking-state-<%= commit.state.downcase.gsub(/\s/, '-') %>"><%= commit.state %></div>
                <h3 class="gitlab-tracking-title">
                    <%= link_to "#{commit.title}", "#{commit.merge_request_url}", :target => "_blank" %>
                </h3>
                Request to merge <code><%= commit.source_branch %></code> into <code><%= commit.target_branch %></code>
                <p>
                    update at 
                    <%= I18n.l commit.last_edited_at.in_time_zone(User.current.time_zone), :format => :long %>    
                </p>
                <hr>
                <div class="gitlab-tracking-commit">
                    <p>
                        <b>Last commit</b> &nbsp;
                        <%= link_to "#{commit.git_hash}", "#{commit.gitlab_url}", :target => "_blank" %>
                    </p>
                    <p><%= I18n.l commit.timestamp.in_time_zone(User.current.time_zone), :format => :long %></p>
                    <p>
                        <%= image_tag gravatar_url(commit.author_email, {size:20, ssl:true}) %>
                        <%= commit.author_name %> (<%= commit.author_email %>)
                    </p>
                </div>
            </div>
            <div class="gitlab-tracking-clear"></div>
        </div>
    <% end %>
</div>
